<h1>User <%= @user.name %></h1>
<% if @user.admin %>
  ADMIN
<% end %>

Mood: <%= @user.mood %>
Tickets: <%= @user.tickets %>
Height: <%= @user.height %>

<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", sessions_logout_path %>
